<ion-view title="Auto {{match.team}}" hide-nav-bar="false">

  <ion-nav-buttons side="left">
    <button class="button" ng-click="autoBack()">
      Match
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button" ng-click="teleop()">
      Teleop
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">

      <div class="item item-body">

        <div class ="item item-divider">
          Outer Works Attack in Auto
        </div>

        <button class="button button-block padding {{auto.definedDefensesAuto.firstDefenseState}}" ng-click="switchDefense(1)" style="font-size: 15px">
            {{match.defenseOne}} {{auto.definedDefensesAuto.firstDefenseLabel}}
        </button>

        <button class="button button-block padding {{auto.definedDefensesAuto.secondDefenseState}}" ng-click="switchDefense(2)" style="font-size: 15px">
            {{match.defenseTwo}} {{auto.definedDefensesAuto.secondDefenseLabel}}
        </button>

        <button class="button button-block padding {{auto.definedDefensesAuto.thirdDefenseState}}" ng-click="switchDefense(3)" style="font-size: 15px">
            {{match.defenseThree}} {{auto.definedDefensesAuto.thirdDefenseLabel}}
        </button>

        <button class="button button-block padding {{auto.definedDefensesAuto.fourthDefenseState}}" ng-click="switchDefense(4)" style="font-size: 15px">
            {{match.defenseFour}} {{auto.definedDefensesAuto.fourthDefenseLabel}}
        </button>

        <button class="button button-block padding {{auto.definedDefensesAuto.fifthDefenseState}}" ng-click="switchDefense(5)" style="font-size: 15px">
            {{match.defenseFive}} {{auto.definedDefensesAuto.fifthDefenseLabel}}
        </button>

        <h1 class="item item-divider">
          Auto Boulders in Low Goal (Count: {{auto.lowBall}})
          <br>
          <button class="button button-positive padding button-half" ng-click="incAutoLowBall()" style="font-size: 35px">
            +
          </button>
          <button class="button button-positive padding button-half" ng-click="decAutoLowBall()" style="font-size: 35px">
            -
          </button>

          Total Shots Taken in Low Goal (Count: {{auto.lowShots}})
          <br>
          <button class="button button-positive padding button-half" ng-click="incAutoLowShots()" style="font-size: 35px">
            +
          </button>
          <button class="button button-positive padding button-half" ng-click="decAutoLowShots()" style="font-size: 35px">
            -
          </button>
        </h1>

        <h1 class="item item-divider">
          Auto Boulders in High Goal (Count: {{auto.highBall}})
          <br>
          <button class="button button-positive padding button-half" ng-click="incAutoHighBall()" style="font-size: 35px">
            +
          </button>
          <button class="button button-positive padding button-half" ng-click="decAutoHighBall()" style="font-size: 35px">
            -
          </button>

          Total Shots Taken in High Goal (Count: {{auto.highShots}})
          <br>
          <button class="button button-positive padding button-half" ng-click="incAutoHighShots()" style="font-size: 35px">
            +
          </button>
          <button class="button button-positive padding button-half" ng-click="decAutoHighShots()" style="font-size: 35px">
            -
          </button>
        </h1>

        <h2 class="item item-input">
          <span class="input-label">Auto Notes</span>
          <input type="text" ng-model="match.autoNotes">
        </h2>

      </div>

    <button class="button button-block padding button-outline button-positive" ng-click="teleop()">
      Proceed to Teleop
    </button>

  </ion-content>
</ion-view>
