<ion-view view-title="New Match">
  <ion-content class="padding">

    <!-- <h3>
      {{uploaded}}
    </h3> -->

    <label class="item item-input">
      <span class="input-label">Scouter</span>
      <input type="text" ng-model="match.scouter">
    </label>

    <label class="item item-input">
      <span class="input-label">Match Number</span>
      <input type="number" ng-model="match.number">
    </label>

    <label class="item item-input item-select">
        <div class="input-label">
          Quadrant
        </div>
        <select ng-model="match.quadrant">
          <option>Blue Near</option>
          <option>Blue Mid</option>
          <option>Blue Far</option>
          <option>Red Near</option>
          <option>Red Mid</option>
          <option>Red Far</option>
        </select>
      </label>

    <label class="item item-input">
      <span class="input-label">Team Number</span>
      <input type="number" ng-model="match.team">
    </label>

    <br>

    <div class="item item-input item-select">
        <div class="input-label">
          Robot Starting Position
        </div>
        <select ng-model="match.botType">
          <option>Courtyard</option>
          <option>Auto Zone</option>
          <option>Spy Start</option>
        </select>
      </div>

    <br>

    <div class="item item-divider">
      Enemy Outer Works Defenses
    </div>

    <label class="item item-input item-select">
      <div class="input-label">
        1st Defense
      </div>
      <select ng-model="match.defenseOne">
        <option>Low Bar</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        2nd Defense
      </div>
      <select ng-model="match.defenseTwo">
        <option>Portcullis (A)</option>
        <option>Cheval de Frise (A)</option>
        <option>Moat (B)</option>
        <option>Ramparts (B)</option>
        <option>Drawbridge (C)</option>
        <option>Sally Port (C)</option>
        <option>Rock Wall (D)</option>
        <option>Rough Terrain (D)</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        3rd Defense
      </div>
      <select ng-model="match.defenseThree">
        <option>Portcullis (A)</option>
        <option>Cheval de Frise (A)</option>
        <option>Moat (B)</option>
        <option>Ramparts (B)</option>
        <option>Drawbridge (C)</option>
        <option>Sally Port (C)</option>
        <option>Rock Wall (D)</option>
        <option>Rough Terrain (D)</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        4th Defense
      </div>
      <select ng-model="match.defenseFour">
        <option>Portcullis (A)</option>
        <option>Cheval de Frise (A)</option>
        <option>Moat (B)</option>
        <option>Ramparts (B)</option>
        <option>Drawbridge (C)</option>
        <option>Sally Port (C)</option>
        <option>Rock Wall (D)</option>
        <option>Rough Terrain (D)</option>
      </select>
    </label>

    <label class="item item-input item-select">
      <div class="input-label">
        5th Defense
      </div>
      <select ng-model="match.defenseFive">
        <option>Portcullis (A)</option>
        <option>Cheval de Frise (A)</option>
        <option>Moat (B)</option>
        <option>Ramparts (B)</option>
        <option>Drawbridge (C)</option>
        <option>Sally Port (C)</option>
        <option>Rock Wall (D)</option>
        <option>Rough Terrain (D)</option>
      </select>
    </label>

    <button class="button button-block padding button-outline button-positive" ng-click="auto()">
      Proceed To Autonomous
    </button>

    <div class="item item-divider">
      Types of Defenses
    </div>

    <br>

    <IMG SRC="img/Low Bar.png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Portcullis (A).png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Cheval De Frise (A).png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Moat (B).png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Ramparts (B).png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Drawbridge (C).png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Sally Port (C).png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Rock Wall (D).png" WIDTH=130 HEIGHT=170>
    <IMG SRC="img/Rough Terrain (D).png" WIDTH=130 HEIGHT=170>

  </ion-content>
</ion-view>
