<ion-view title="Storage" hide-nav-bar="false">

  <ion-nav-buttons side="left">
    <button class="button" ng-click="menu()" ng-show="showUploader">
      Menu
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button button-royal" ng-click="upload()" ng-show="showUploader">
      Upload
    </button>
  </ion-nav-buttons>

  <ion-content class="padding"  style="text-align: center;">

    <h2 ng-show="!showUploader">
      {{uploading}} <br>
    </h2>

    <div ng-repeat="match in matches" ng-show="showUploader">

      <div class="item item-divider item-text-wrap" ng-click="showRaw({{$index}})">
        Save Data {{$index + 1}} -> Team {{match.team}} in Match {{match.number}} --- Uploaded: {{match.completed}}
      </div>

    </div>

    <button class="button button-block button-positive padding" ng-click="refresh()" style="font-size: 30px" ng-show="showUploader">
      Refresh
    </button>

  </ion-content>
</ion-view>
