<ion-view view-title="Teleop">

  <ion-nav-buttons side="left">
    <button class="button" ng-click="teleopBack()">
      Back (Auto)
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button" ng-click="upload()">
      Next (Upload)
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="item item-body">

    <h1 class="item item-divider">
      Boulders in Low Goal (Count: {{teleop.lowBall}})
      <br>
      <button class="button button-positive padding button-half" ng-click="incLowBall()" style="font-size: 35px">
        +
      </button>
      <button class="button button-positive padding button-half" ng-click="decLowBall()" style="font-size: 35px">
        -
      </button>
    </h1>



    <h1 class="item item-divider">
      Boulders in High Goal (Count: {{teleop.highBall}})
      <br>
      <button class="button button-positive padding button-half" ng-click="incHighBall()" style="font-size: 35px">
        +
      </button>
      <button class="button button-positive padding button-half" ng-click="decHighBall()" style="font-size: 35px">
        -
      </button>
    </h1>



    <div class ="item item-divider">
      Outer Works Attack in Teleop
    </div>

    <button class="button button-block padding {{teleop.definedDefensesTeleop.firstDefenseState}}" ng-click="switchDefense(1)" style="font-size: 35px">
        {{match.defenseOne}} {{teleop.definedDefensesTeleop.firstDefenseLabel}}
    </button>

    <button class="button button-block padding {{teleop.definedDefensesTeleop.secondDefenseState}}" ng-click="switchDefense(2)" style="font-size: 35px">
        {{match.defenseTwo}} {{teleop.definedDefensesTeleop.secondDefenseLabel}}
    </button>

    <button class="button button-block padding {{teleop.definedDefensesTeleop.thirdDefenseState}}" ng-click="switchDefense(3)" style="font-size: 35px">
        {{match.defenseThree}} {{teleop.definedDefensesTeleop.thirdDefenseLabel}}
    </button>

    <button class="button button-block padding {{teleop.definedDefensesTeleop.fourthDefenseState}}" ng-click="switchDefense(4)" style="font-size: 35px">
        {{match.defenseFour}} {{teleop.definedDefensesTeleop.fourthDefenseLabel}}
    </button>

    <button class="button button-block padding {{teleop.definedDefensesTeleop.fifthDefenseState}}" ng-click="switchDefense(5)" style="font-size: 35px">
        {{match.defenseFive}} {{teleop.definedDefensesTeleop.fifthDefenseLabel}}
    </button>

    <h1 class="item item-divider">
      Total Damage Dealt to Outer Works (Count: {{teleop.totalDamage}})
      <br>
      <button class="button button-positive padding button-half" ng-click="incTotalDamage()" style="font-size: 35px">
        +
      </button>
      <button class="button button-positive padding button-half" ng-click="decTotalDamage()" style="font-size: 35px">
        -
      </button>
    </h1>

    </div>

    <br>

    <div class="item item-divider">
      Cycle Time
    </div>

    <h2 style="margin-left: 20px; font-size: 200%"> {{teleop.cycleTime / 100}} </h2>

    <button class="button button-clear button-positive" ng-click="startCycleTimer()">
      {{teleop.cycleTimeToggle}}
    </button>

    <button class="button button-clear button-positive" ng-click="resetCycleTimer()">
      Reset
    </button>


    <!-- <div ng-repeat="attempt in defenseAttempts track by $index">
      <div class="list card">

        <div class="item item-divider padding">
          Defense Crossing Attempt {{$index + 1}}
        </div>

          <div class="item item-body">

            <label class="item item-input item-select">
              <div class="input-label">
                Target Defense
              </div>
              <select ng-model="attempt.defense">
                <option>Portcullis (A)</option>
                <option>Cheval de Frise (A)</option>
                <option>Moat (B)</option>
                <option>Ramparts (B)</option>
                <option>Drawbridge (C)</option>
                <option>Sally Port (C)</option>
                <option>Rock Wall (D)</option>
                <option>Rough Terrain (D)</option>
              </select>
            </label>

            <li class="item item-toggle">
               Successful Cross
               <label class="toggle toggle-calm">
                 <input type="checkbox" ng-model="attempt.success">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>

            <li class="item item-toggle">
               Damage Dealt to Defense
               <label class="toggle toggle-balanced">
                 <input type="checkbox" ng-model="attempt.undamaged">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>

            <div class="item item-divider">
              Defense Crossing Time
            </div>

            <h2 style="margin-left: 20px; font-size: 200%"> {{attempt.crossTime / 100}} </h2>

            <button class="button button-clear button-positive" ng-click="startCrossTimer({{$index}})">
              {{attempt.crossToggle}}
            </button>

            <button class="button button-clear button-positive" ng-click="resetCrossTimer({{$index}})">
              Reset
            </button>

            <div class="item item-divider">
              Defense Return Time
            </div>

            <h2 style="margin-left: 20px; font-size: 200%"> {{attempt.returnTime / 100}} </h2>

            <button class="button button-clear button-positive" ng-click="startReturnTimer({{$index}})">
              {{attempt.returnToggle}}
            </button>

            <button class="button button-clear button-positive" ng-click="resetReturnTimer({{$index}})">
              Reset
            </button>


          </div>

            <button class="button button-clear button-assertive" ng-click="deleteAttempt({{$index}})">
              Delete Attempt
            </button>

      </div>
    </div> -->

    <div class="item item-divider">
      End Game
    </div>

    <button class="button button-block padding {{towerAttack.towerState}}" ng-click="switchTowerAttack()" style="font-size: 35px">
        Tower {{towerAttack.towerLabel}}
    </button>

    <br>



    <h2 class="item item-input">
      <span class="input-label">
        Teleop Notes
      </span>
      <input type="text" ng-model="match.teleopNotes">
    </h2>

    <button class="button button-block padding button-outline button-positive" ng-click="upload()">
      Upload
    </button>

  </ion-content>
</ion-view>
