<ion-view view-title="Teleop">

  <ion-nav-buttons side="left">
    <button class="button" ng-click="teleopBack()">
      Back (Auto)
    </button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button class="button" ng-click="newAttempt()">
      Add Defense Crossing Attempt
    </button>
  </ion-nav-buttons>

  <ion-content class="padding">

    <div class="item item-body">

    <h2 class="item item-input">
      <span class="input-label">Teleop Notes</span>
      <input type="text" ng-model="match.teleopNotes">
    </h2>

    <div class="item item-divider">
      Robot
    </div>

    <li class="item item-toggle">
       Defensive Robot
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model ="match.defensiveBot">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Offensive Robot
       <label class="toggle toggle-balanced">
         <input type="checkbox" ng-model="match.offensiveBot">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <div class="item item-divider">
      End Game
    </div>

    <li class="item item-toggle">
       Tower Challenged
       <label class="toggle toggle-calm">
         <input type="checkbox" ng-model="teleop.challenge">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <li class="item item-toggle">
       Tower Scaled
       <label class="toggle toggle-calm">
         <input type="checkbox" ng-model="teleop.scale">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
    </li>

    <h1 class="item item-divider">
      Boulders in Low Goal (Count: {{teleop.lowBall}})
    </h1>

    <button class="button button-positive" ng-click="incLowBall()">
      +
    </button>
    <button class="button button-positive" ng-click="decLowBall()">
      -
    </button>

    <h1 class="item item-divider">
      Boulders in High Goal (Count: {{teleop.highBall}})
    </h1>

    <button class="button button-positive" ng-click="incHighBall()">
      +
    </button>
    <button class="button button-positive" ng-click="decHighBall()">
      -
    </button>


  </div>

  <div ng-repeat="attempt in defenseAttempts track by $index">
    <div class="list card">

        <div class="item item-divider padding">
          Defense Crossing Attempt {{$index + 1}} {{$index}}
        </div>

          <div class="item item-body">

            <label class="item item-input item-select">
              <div class="input-label">
                Target Defense
              </div>
              <select ng-model="attempt.defense">
                <option>Portcullis (A)</option>
                <option>Cheval de Frise (A)</option>
                <option>Moat (B)</option>
                <option>Ramparts (B)</option>
                <option>Drawbridge (C)</option>
                <option>Sally Port (C)</option>
                <option>Rock Wall (D)</option>
                <option>Rough Terrain (D)</option>
              </select>
            </label>

            <li class="item item-toggle">
               Successful Cross
               <label class="toggle toggle-calm">
                 <input type="checkbox" ng-model="attempt.success">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </li>

            <div class="item item-divider">
              Defense Crossing Time
            </div>

            <h2 style="margin-left: 20px; font-size: 200%"> {{attempt.crossTime / 100}} </h2>

            <button class="button button-clear button-positive" ng-click="startCrossTimer({{$index}})">
              {{attempt.crossToggle}}
            </button>

            <button class="button button-clear button-positive" ng-click="resetCrossTimer({{$index}})">
              Reset
            </button>

            <div class="item item-divider">
              Defense Return Time
            </div>

            <h2 style="margin-left: 20px; font-size: 200%"> {{attempt.returnTime / 100}} </h2>

            <button class="button button-clear button-positive" ng-click="startReturnTimer({{$index}})">
              {{attempt.returnToggle}}
            </button>

            <button class="button button-clear button-positive" ng-click="resetReturnTimer({{$index}})">
              Reset
            </button>


          </div>

            <button class="button button-clear button-assertive" ng-click="deleteAttempt({{$index}})">
              Delete Attempt
            </button>

      </div>
    </div>

    <button class="button button-block padding button-outline button-positive" ng-click="upload()">
      Upload
    </button>

  </ion-content>
</ion-view>
