<ion-view title="Save Match" hide-nav-bar="false">
  <ion-content class="padding"  style="text-align: center;">

    <p> if you don't know which button to press, ask Arun or Dharak. </p>

    <button class="button button-outline button-positive" ng-click="save()">
      Save to local storage <br> (do this if you do NOT have internet access)
    </button>

    <br> <br>

    <button class="button button-outline button-calm" ng-click="upload()">
      Upload to the cloud <br> (do this if you have internet access)
    </button>

    {{savedMatches}}
    {{savedAutos}}
    {{savedStacks}}

  </ion-content>
</ion-view>
